[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pillow = "*"
mysqlclient = "*"
requests = "*"
fake-useragent = "*"
selenium = "*"
pyvirtualdisplay = "*"
redis = "*"
elasticsearch-dsl = "==5.1.0"
scrapyd = "*"
scrapyd-client = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
