<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {{ form.csrf_token }}
    {{ form.author_name.label }}
    <p>{{ form.author_name }}</p>
    {% for msg in form.author_name.errors %}
    <p>{{ msg }}</p>
    {% endfor %}
    {{ form.book_name.label }}
    <p>{{ form.book_name }}</p>
    {% for msg in form.book_name.errors %}
    <p>{{ msg }}</p>
    {% endfor %}
    {{ form.submit }}
</form>
<ul>
    {% for author in authors %}
    <li>作者: {{ author.name }}</li>
    <ul>
        {% for book in author.books %}
        <li>书籍: {{ book.name }}</li>
        <a href="javascript:;" book-id="{{book.id}}">删除</a>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
<script>
    $("a").click(function () {
        var data = {
            book_id: $(this).attr("book-id")
        };
        var req_json = JSON.stringify(data);
        // $.post("/delete_book", req_json, function (resp) {
        //     if (resp.code === 0) {
        //         location.href = "/";
        //     }
        // });
        $.ajax({
            url: "/delete_book",
            type: "post",
            data: req_json,
            contentType: "application/json",
            dataType: "json",
            success: function (resp) {
                if (resp.code === 0) {
                    location.href = "/";
                }
            }
        })
    })
</script>
</body>
</html>