[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==1.8"
django-tinymce = "*"
pymysql = "*"
pillow = "*"
itsdangerous = "*"
celery = "*"
django-redis = "==4.4.4"
redis = "==2.10.0"

[requires]
python_version = "3.6"
